{
    "presets": [ "next/babel", "es2015", "stage-0"],
    "plugins": [
        ["module-resolver", {
            "root": ["./client/src"],
            "alias": {
              "styles": "./styles"
            },
            "cwd": "babelrc"
        }]
    ]
}